extends layout

block content
    h1= title
    a(href="/register-company")
        button.btn.btn-primary Добавить
    ul.companies__list
        for company in companies
            li.companies__list-item
                if company.isApproved
                    .badge.bg-success Одобрено
                span= company.shortName
                .companies__btn-block
                    a(href="/companies-list/#{company.slug}")
                        button.btn.btn-warning Редактировать
                    form(action="/companies-list/#{company.slug}/delete" method="post")
                        button.deleteBtn.btn.btn-danger Удалить
                        input(type="hidden" name="delete")
    script. 
        const deleteBtn = document.querySelectorAll('.deleteBtn')

        deleteBtn.forEach( (btn)=> {
            btn.addEventListener('click', (e) => {
                e.preventDefault()
                let result = confirm('Подтвердите удаление')
                if(result) {
                    e.target.nextSibling.value = true
                    e.target.form.submit()
                }
            })
        })