doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      menu
        .menu-item
          a(href="/") Главная
        .menu-item
          a(href="/form") Форма регистрации
    .container
      block content
