doctype html
html
    head
        title= title
        link(rel='stylesheet' href='/stylesheets/style.css')
    body
        .container
            header
                menu
                    .menu-item
                        a(href="/companies-list") Список операторов
                    .menu-item
                        a(href="/excursions-list") Список экскурсий
        
            block content

