extends formLayout
block content
    h1= title
    form(action="/login", method="post").login-form
        input(type="text" name="username" placeholder="Имя пользователя")
        input(type="password" name="password" placeholder="Пароль")
        button(type="submit") Войти