extends layout
block content
    a(href="/users/register")
        button.btn.btn-primary.with-shadow Добавить
    .users-block.with-shadow
        ul.users-list
            li.users-list__item__head
                span Имя:
                span Почта:
                span
            each user in data.users
                li.users-list__item.with-shadow
                    span= user.username
                    span= user.email
                    button.btn.btn-light.delete-btn Удалить
    script(src="/javascripts/usersList.js")
